#heading{
    text-align: center;
}
#container{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
}
.card{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    /* border: 1px solid red; */
}
.button{
    padding: 20px 30px 20px 30px;
    margin: 0 4px;
    border: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    background-color: #E2D1F9;
    cursor: pointer;
}
.eg{
    background-color: #317773;
}
input{
    width: 38%;
    height: 40px;
    border-radius: 5px;
    font-size: 30px;
    border: 0px;
    background-color: #E2D1F9;
}
input:focus{
    outline: none;
}